.side-nav{
  border-right: 1px solid #edeff4;
}


.el-menu-item {
  .is-active{
    background: transparent;
    border-left: 3px solid #fcbc0d;
    color: #fcbc0d;
    background-image: linear-gradient(to right, rgba(252, 188, 13, 0.2) , #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff,  #ffffff,  #ffffff, #ffffff, #ffffff);

    &::after{
      border-right: 1px solid #edeff4
    }
  }
}

@media screen and (max-width: 480px) {
  .side-nav {
    width: 100%;

    span{
      display: none;
    }
  }
}
